<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form1.html</title>
</head>
<body>
<form action="#" method="POST">
    <label>Animal
    <input type="text" name="animal" value="{{ @SESSION['animal'] }}">
    </label>
    <br>
    <div class="col-sm-3">
        <check if="{{ isset(@errors['animal']) }}">
            <p> {{ @errors['animal'] }}</p>
        </check>
    </div>
    <!-- For Part# 1 of Week 5 Pair Programming Pets IV -->
    <label>Quantity
        <input type="text" name="qty" value="{{ @SESSION['qty'] }}">
        <check if="{{ @errors['qty'] }}">
            <span class="err">{{ @errors['qty'] }}</span>
        </check>
    </label>

    <input type="submit" value="Next">
</form>
</body>
</html>